.main {
  background: #280044;
  min-height: 70rem;
  width: 100%;
  background-image: url('../public/figure.png'), url('../public/bg.png');
  background-position: bottom, top 0rem right -48rem;
  background-repeat: no-repeat;
  background-size: 50rem, 90rem 100%;

  @media (max-width: 1300px) {
    background-image: none, url('../public/bg.png');
  }

  @media (max-width: 768px) {
    background-image: none;
  }
}

.container {
  @media (min-width: 1800px) {
    max-width: 1800px;
  }
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 1rem;
  position: relative;

  @media (min-width: 600px) {
    padding: 2rem;
  }
}

.innerSection {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .descriptionSection {
    @media (max-width: 768px) {
      text-align: -webkit-center;
    }

    h1 {
      width: 53%;
      font-size: 3rem;
      font-weight: 500;
      color: white;
      margin: 0;
      margin-top: 4rem;

      @media (max-width: 1400px) {
        font-size: 2rem;
      }
      @media (max-width: 1100px) {
        width: 70%;
      }
      @media (max-width: 600px) {
        margin-top: 3rem;
        width: 90%;
      }
    }
    h2 {
      width: 34%;
      font-size: 1.5rem;
      font-weight: 400;
      color: gray;
      margin: 0;
      margin-top: 1rem;

      @media (max-width: 1400px) {
        font-size: 1rem;
      }
      @media (max-width: 1100px) {
        width: 40%;
      }
      @media (max-width: 600px) {
        width: 60%;
      }
    }
  }
}
.coinListSection {
  margin-top: 4rem;
}
